//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved.
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Sun 05 29 18:42:46 2022

IO_LOC "bits[7]" 23;
IO_PORT "bits[7]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "bits[6]" 22;
IO_PORT "bits[6]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "bits[5]" 18;
IO_PORT "bits[5]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "bits[4]" 17;
IO_PORT "bits[4]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "bits[3]" 16;
IO_PORT "bits[3]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "bits[2]" 15;
IO_PORT "bits[2]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "bits[1]" 27;
IO_PORT "bits[1]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "bits[0]" 28;
IO_PORT "bits[0]" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "blue" 10;
IO_PORT "blue" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "green" 11;
IO_PORT "green" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "red" 9;
IO_PORT "red" IO_TYPE=LVTTL33 PULL_MODE=NONE DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "btnB" 44;
IO_PORT "btnB" IO_TYPE=LVTTL33 PULL_MODE=UP HYSTERESIS=H2L;
IO_LOC "btnA" 13;
IO_PORT "btnA" IO_TYPE=LVTTL33 PULL_MODE=UP HYSTERESIS=H2L;
